/* 
  Generic classes 
*/

.f1 { font-size: 6rem; }
.f2 { font-size: 5rem; }
.f3 { font-size: 3rem; }
.f4 { font-size: 2.25rem; }
.f5 { font-size: 1.5rem; }
.f6 { font-size: 1rem; }

.dib { display: inline-block; }

.button {
  display: inline-block;
  border: 2px solid #61dafb;
  border-radius: 1rem;
  background-color: transparent;
  padding: 1.5rem;
  font-size: 1.5rem;
  outline: none;
}

.shadow { box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 ); }

.ma1 { margin: 0.25rem; }

.shrink {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.shrink:active {
  transform: scale(.90);
}


/* 
  Component-specific CSS and layout 
*/

.App {
  text-align: center;
  height: 100%;
}

.AppHome {
  position: relative;
  min-height: 100%;
}

.App-logo {
  height: 80px;
  color: #61dafb;
}

.App-header {
  background-color: #645244;
  height: 150px;
  padding: 20px;
  color: #F7F4EA;
}

.App-intro {
  font-size: large;
}

.BrewMethodsContainer {
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}

.BrewMethod {
  width: 15rem;
  height: 15rem;
  border: 1px solid #423629;
  display: inline-block;
  margin: 1rem;
}

.AppDetailHeader {
  height: 4rem;
  background-color: #645244;
}

.AppDetailHeader > .logo {
  height: 3rem;
  width: 3rem;
  float: left;
  padding: 0.5rem 1rem;
}

.AppDetailHeader img {
  height: 100%;
  width: 100%;
}

.AppFooter {
  padding: 1rem;
  background-color: #645244;
  color: #F7F4EA;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}